# whitelist
branches:
  only:
    - dev

language: php

php:
- 5.2
- 5.3

env:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=4.1 WP_MULTISITE=1

before_script:
    - sudo apt-get install ruby
    - gem install nyx

script:
    - nyx version
    - nyx check:php .

notifications:
  email:
    recipients:
    - andrei.lupu@pixelgrade.com
    on_failure: always
